{% load i18n %}
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">{% trans 'Hilton Hotel' %}</h2>
            <p>{% trans 'Unlock new memories at our hotels around the world.' %}</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="https://www.facebook.com/internationalhotel.tashkent"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.instagram.com/hiltontashkentcityhotel/"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">{% trans 'Useful Links' %}</h2>
            <ul class="list-unstyled">
              <li><a href="{% url 'rooms' %}" class="py-2 d-block">{% trans 'Rooms' %}</a></li>
              <li><a href="{% url 'blog-list' %}" class="py-2 d-block">{% trans 'Blog' %}</a></li>
              <li><a href="{% url 'restaurant' %}">{% trans 'Restaurant' %}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">{% trans 'Privacy' %}</h2>
            <ul class="list-unstyled">
              <li><a href="{% url 'about' %}" class="py-2 d-block">{% trans 'About Us' %}</a></li>
              <li><a href="{% url 'contact' %}" class="py-2 d-block">{% trans 'Contact Us' %}</a></li>
              <li><a href="#services" class="py-2 d-block">{% trans 'Services' %}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">{% trans 'Have a Questions?' %}</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">2 Islam Karimov Street, block 5
                    Tashkent, 100027, Uzbekistan</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+998997742878</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">hiltonuzb@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
  
          <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Hilton</p>
        </div>
      </div>
    </div>
  </footer>